---
http_interactions:
- request:
    method: post
    uri: https://api-stg.oyindonesia.com//api/scheduled-remit/retry
    body:
      encoding: UTF-8
      string: '{"partner_trx_id":"ef3fd32d-d491-4df8-bdae-c7fd6950cd36","new_partner_trx_id":"bd91d2de-32d4-4972-b3b6-1fd0f3a846fd","trigger_date":"12-12-2030"}'
    headers:
      Content-Type:
      - application/json
      X-Oy-Username:
      - xxx
      X-Api-Key:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":{"code":"990","message":"old_partner_trx_id is empty or null"},"recipient_bank":null,"recipient_account":null,"amount":null,"scheduled_trx_id":"","partner_trx_id":null,"scheduled_trx_status":null,"schedule_date":null,"is_trigger_based":null,"trigger_date":null,"trigger_email":null,"timestamp":"09-12-2020
        21:54:55"}'
  recorded_at: Wed, 09 Dec 2020 21:54:55 GMT
recorded_with: VCR 5.1.0
