---
http_interactions:
- request:
    method: get
    uri: https://api-stg.oyindonesia.com//api/scheduled-remit
    body:
      encoding: UTF-8
      string: '{"partner_trx_id":"3d003ff9-43b6-4b05-a8dd-56fe240c6e3b"}'
    headers:
      Content-Type:
      - application/json
      X-Oy-Username:
      - xxx
      X-Api-Key:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":{"code":"204","message":"Tx Id is not found"},"recipient_bank":null,"recipient_account":null,"amount":null,"scheduled_trx_id":"","partner_trx_id":"3d003ff9-43b6-4b05-a8dd-56fe240c6e3b","scheduled_trx_status":null,"schedule_date":null,"is_trigger_based":null,"trigger_date":null,"trigger_email":null,"timestamp":"09-12-2020
        21:45:14"}'
  recorded_at: Wed, 09 Dec 2020 21:45:14 GMT
recorded_with: VCR 5.1.0
