---
http_interactions:
- request:
    method: post
    uri: https://api-stg.oyindonesia.com//api/inquiry
    body:
      encoding: UTF-8
      string: '{"recipient_bank":"999","recipient_account":"23432423423432434"}'
    headers:
      Content-Type:
      - application/json
      X-Oy-Username:
      - xxx
      X-Api-Key:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":{"code":"209","message":"Bank Account is not found"},"timestamp":"09-12-2020
        21:45:11","recipient_bank":"999","recipient_account":"23432423423432434","recipient_name":null}'
  recorded_at: Wed, 09 Dec 2020 21:45:11 GMT
recorded_with: VCR 5.1.0
