---
http_interactions:
- request:
    method: post
    uri: https://api-stg.oyindonesia.com//api/payment-checkout/create-invoice
    body:
      encoding: UTF-8
      string: '{"partner_tx_id":"116846a5-87e9-4785-af89-c24fadc7dcf4","amount":15000,"email":"user@example.com"}'
    headers:
      Content-Type:
      - application/json
      X-Oy-Username:
      - xxx
      X-Api-Key:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"payment_link_id":"9197be26-fba3-4539-b2fb-a88b7bd0fa98","message":"success","email_status":"PROCESSED","url":"https://pay-stg.oyindonesia.com/invoice/9197be26-fba3-4539-b2fb-a88b7bd0fa98","status":true}'
  recorded_at: Wed, 09 Dec 2020 21:45:06 GMT
- request:
    method: post
    uri: https://api-stg.oyindonesia.com//api/payment-checkout/create-invoice
    body:
      encoding: UTF-8
      string: '{"partner_tx_id":"116846a5-87e9-4785-af89-c24fadc7dcf4","amount":15000,"email":"user@example.com"}'
    headers:
      Content-Type:
      - application/json
      X-Oy-Username:
      - xxx
      X-Api-Key:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Partner Transaction ID must be unique","url":"","status":false}'
  recorded_at: Wed, 09 Dec 2020 21:45:06 GMT
recorded_with: VCR 5.1.0
