---
http_interactions:
- request:
    method: post
    uri: https://api-stg.oyindonesia.com//api/generate-static-va
    body:
      encoding: UTF-8
      string: '{"partner_user_id":"a1d04107-e380-4ceb-902a-95d8c7239004","bank_code":"909","amount":30000,"partner_trx_id":"98a8321d-100a-42d3-a9d3-29a2d1cb9273"}'
    headers:
      Content-Type:
      - application/json
      X-Oy-Username:
      - xxx
      X-Api-Key:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":{"code":"211","message":"Bank code is not available for this
        service"},"is_open":false,"is_single_use":false,"expiration_time":0,"counter_incoming_payment":0,"trx_expiration_time":0,"trx_counter":0}'
  recorded_at: Wed, 09 Dec 2020 22:17:20 GMT
recorded_with: VCR 5.1.0
