---
http_interactions:
- request:
    method: post
    uri: https://api-stg.oyindonesia.com//api/payment-checkout/create-v2
    body:
      encoding: UTF-8
      string: '{"partner_tx_id":"7625e658-4d80-46a5-816e-233a3bb44d3a","amount":15000,"email":"user@example.com"}'
    headers:
      Content-Type:
      - application/json
      X-Oy-Username:
      - xxx
      X-Api-Key:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"payment_link_id":"cd1b0764-d8c7-4155-9148-9dcb669bb529","message":"success","email_status":"PROCESSED","url":"https://pay-stg.oyindonesia.com/cd1b0764-d8c7-4155-9148-9dcb669bb529","status":true}'
  recorded_at: Wed, 09 Dec 2020 21:45:04 GMT
- request:
    method: post
    uri: https://api-stg.oyindonesia.com//api/payment-checkout/create-v2
    body:
      encoding: UTF-8
      string: '{"partner_tx_id":"7625e658-4d80-46a5-816e-233a3bb44d3a","amount":15000,"email":"user@example.com"}'
    headers:
      Content-Type:
      - application/json
      X-Oy-Username:
      - xxx
      X-Api-Key:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"partner_tx_id must be unique","url":"","status":false}'
  recorded_at: Wed, 09 Dec 2020 21:45:04 GMT
recorded_with: VCR 5.1.0
