---
http_interactions:
- request:
    method: get
    uri: https://api-stg.oyindonesia.com//api/payment-checkout/status?partner_tx_id=6b363f43-266e-4490-a9cb-82a8111086ba
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Oy-Username:
      - xxx
      X-Api-Key:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"error":null,"data":null,"reason":null,"status_code":200}'
  recorded_at: Wed, 09 Dec 2020 21:45:08 GMT
recorded_with: VCR 5.1.0
