---
http_interactions:
- request:
    method: post
    uri: https://api-stg.oyindonesia.com//api/generate-static-va
    body:
      encoding: UTF-8
      string: '{"partner_user_id":"4475bd77-1a93-4872-ba28-0a15084f2e2c","bank_code":"002","amount":30000,"partner_trx_id":"84776d0a-b249-4169-81eb-146e64d02b54"}'
    headers:
      Content-Type:
      - application/json
      X-Oy-Username:
      - xxx
      X-Api-Key:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5e2c39f5-7d7d-494a-b206-7ed996255cca","amount":30000,"status":{"code":"000","message":"Success"},"va_number":"100536000000003114","bank_code":"002","is_open":true,"is_single_use":false,"expiration_time":1607639218000,"va_status":"WAITING_PAYMENT","username_display":"xxx","partner_user_id":"4475bd77-1a93-4872-ba28-0a15084f2e2c","counter_incoming_payment":0,"trx_expiration_time":1607639218000,"partner_trx_id":"84776d0a-b249-4169-81eb-146e64d02b54","trx_counter":-1}'
  recorded_at: Wed, 09 Dec 2020 22:26:58 GMT
- request:
    method: get
    uri: https://api-stg.oyindonesia.com//api/static-virtual-account/5e2c39f5-7d7d-494a-b206-7ed996255cca
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Oy-Username:
      - xxx
      X-Api-Key:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5e2c39f5-7d7d-494a-b206-7ed996255cca","amount":30000.0000,"status":{"code":"000","message":"Success"},"va_number":"100536000000003114","bank_code":"002","bank_name":"BRI","is_open":true,"is_single_use":false,"expiration_time":1607639218000,"va_status":"WAITING_PAYMENT","username_display":"xxx","amount_detected":0,"partner_user_id":"4475bd77-1a93-4872-ba28-0a15084f2e2c","created":1607552818556,"counter_incoming_payment":0,"trx_expiration_time":1607639218000,"partner_trx_id":"84776d0a-b249-4169-81eb-146e64d02b54","trx_counter":-1}'
  recorded_at: Wed, 09 Dec 2020 22:26:58 GMT
recorded_with: VCR 5.1.0
