---
http_interactions:
- request:
    method: post
    uri: https://api-stg.oyindonesia.com//api/remit
    body:
      encoding: UTF-8
      string: '{"recipient_bank":"008","recipient_account":"23432423423432434","amount":200000,"partner_trx_id":"b27abb28-a976-4000-bd46-fffa69a2ef64"}'
    headers:
      Content-Type:
      - application/json
      X-Oy-Username:
      - xxx
      X-Api-Key:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":{"code":"101","message":"Request is Processed"},"amount":200000,"timestamp":"09-12-2020
        21:45:12","recipient_bank":"008","recipient_account":"23432423423432434","trx_id":"32dfcd4e-6444-46aa-aa5d-3e30f0370217","partner_trx_id":"b27abb28-a976-4000-bd46-fffa69a2ef64"}'
  recorded_at: Wed, 09 Dec 2020 21:45:12 GMT
recorded_with: VCR 5.1.0
