---
http_interactions:
- request:
    method: post
    uri: https://api-stg.oyindonesia.com//api/payment-checkout/create-invoice
    body:
      encoding: UTF-8
      string: '{"partner_tx_id":"9b6b65f0-c56f-4eb3-b29f-dd0aac353736","amount":15000,"email":"user@example.com"}'
    headers:
      Content-Type:
      - application/json
      X-Oy-Username:
      - xxx
      X-Api-Key:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"payment_link_id":"7a0dfa84-b1f0-4077-b33e-0e07e2c24724","message":"success","email_status":"PROCESSED","url":"https://pay-stg.oyindonesia.com/invoice/7a0dfa84-b1f0-4077-b33e-0e07e2c24724","status":true}'
  recorded_at: Wed, 09 Dec 2020 21:45:07 GMT
- request:
    method: get
    uri: https://api-stg.oyindonesia.com//api/payment-checkout/status?partner_tx_id=9b6b65f0-c56f-4eb3-b29f-dd0aac353736
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Oy-Username:
      - xxx
      X-Api-Key:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"error":null,"data":{"partner_tx_id":"9b6b65f0-c56f-4eb3-b29f-dd0aac353736","amount":15000,"sender_phone":null,"sender_note":null,"created":"2020-12-10T04:45:07","tx_ref_number":null,"description":null,"sender_name":null,"full_name":null,"paid_amount":15000,"invoice_ID":"7a0dfa84-b1f0-4077-b33e-0e07e2c24724","expiration":"2020-12-11T04:45:07","is_invoice":true,"updated":"2020-12-10T04:45:07","payment_method":null,"email":"user@example.com","status":"created","sender_bank":null,"settlement_type":"realtime"},"reason":null,"status_code":200}'
  recorded_at: Wed, 09 Dec 2020 21:45:07 GMT
recorded_with: VCR 5.1.0
