---
http_interactions:
- request:
    method: post
    uri: https://api-stg.oyindonesia.com//api/generate-static-va
    body:
      encoding: UTF-8
      string: '{"partner_user_id":"c851ab00-9b43-4219-8958-b115d1e0f8a8","bank_code":"002","amount":30000,"partner_trx_id":"e5129eef-cfe9-4746-96e8-01a4905b18c7"}'
    headers:
      Content-Type:
      - application/json
      X-Oy-Username:
      - xxx
      X-Api-Key:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"686a0acd-71a9-4de2-bfbc-14a582818e5b","amount":30000,"status":{"code":"000","message":"Success"},"va_number":"100536000000003110","bank_code":"002","is_open":true,"is_single_use":false,"expiration_time":1607638531000,"va_status":"WAITING_PAYMENT","username_display":"xxx","partner_user_id":"c851ab00-9b43-4219-8958-b115d1e0f8a8","counter_incoming_payment":0,"trx_expiration_time":1607638531000,"partner_trx_id":"e5129eef-cfe9-4746-96e8-01a4905b18c7","trx_counter":-1}'
  recorded_at: Wed, 09 Dec 2020 22:15:31 GMT
recorded_with: VCR 5.1.0
