---
http_interactions:
- request:
    method: post
    uri: https://api-stg.oyindonesia.com//api/payment-checkout/create-invoice
    body:
      encoding: UTF-8
      string: '{"partner_tx_id":"d3d76891-9289-4163-b4ac-2e99a2d2d2a1","amount":15000,"email":"user@example.com"}'
    headers:
      Content-Type:
      - application/json
      X-Oy-Username:
      - xxx
      X-Api-Key:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"payment_link_id":"a888254e-604d-43cb-93bd-5a4ee8e284b8","message":"success","email_status":"PROCESSED","url":"https://pay-stg.oyindonesia.com/invoice/a888254e-604d-43cb-93bd-5a4ee8e284b8","status":true}'
  recorded_at: Wed, 09 Dec 2020 21:45:05 GMT
recorded_with: VCR 5.1.0
