---
http_interactions:
- request:
    method: post
    uri: https://api-stg.oyindonesia.com//api/scheduled-remit
    body:
      encoding: UTF-8
      string: '{"recipient_bank":"008","recipient_account":"23432423423432434","amount":200000,"partner_trx_id":"72585348-a957-44fb-bf0b-8fdd57ff1b4b","is_trigger_based":true,"trigger_date":"12-12-2030","trigger_email":"me@itsgg.com","cs_phone_number":"+83434324324324","cs_email":"support@beecash.io"}'
    headers:
      Content-Type:
      - application/json
      X-Oy-Username:
      - xxx
      X-Api-Key:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":{"code":"103","message":"Request is Scheduled"},"recipient_bank":"008","recipient_account":"23432423423432434","amount":200000,"scheduled_trx_id":"08c11477-4979-4114-9838-1b16c7ed1a5d","partner_trx_id":"72585348-a957-44fb-bf0b-8fdd57ff1b4b","scheduled_trx_status":"SCHEDULED","schedule_date":null,"is_trigger_based":true,"trigger_date":"12-12-2030","trigger_email":"me@itsgg.com","timestamp":"09-12-2020
        22:10:27"}'
  recorded_at: Wed, 09 Dec 2020 22:10:27 GMT
[...]
- request:
    method: post
    uri: https://api-stg.oyindonesia.com//api/scheduled-remit/retry
    body:
      encoding: UTF-8
      string: '{"old_partner_trx_id":"72585348-a957-44fb-bf0b-8fdd57ff1b4b","new_partner_trx_id":"2f3eb1b2-a742-4606-a201-bbe11aea2eba4","trigger_date":"12-12-2040"}'
    headers:
      Content-Type:
      - application/json
      X-Oy-Username:
      - xxx
      X-Api-Key:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":{"code":"103","message":"Request is Scheduled"},"recipient_bank":"008","recipient_account":"23432423423432434","amount":200000,"scheduled_trx_id":"b33c126b-2b00-473a-a3e9-8993c6accd9c","partner_trx_id":"2f3eb1b2-a742-4606-a201-bbe11aea2eba4","scheduled_trx_status":"SCHEDULED","schedule_date":null,"is_trigger_based":true,"trigger_date":"12-12-2040","trigger_email":"me@itsgg.com","timestamp":"09-12-2020
        22:10:29"}'
  recorded_at: Wed, 09 Dec 2020 22:10:29 GMT
recorded_with: VCR 5.1.0
