---
http_interactions:
- request:
    method: get
    uri: https://api-stg.oyindonesia.com//api/static-virtual-accountt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Oy-Username:
      - xxx
      X-Api-Key:
      - xxx
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status_code":404,"success":false,"error":{"code":404,"message":"Resource
        not found"},"data":"Resource not found"}'
  recorded_at: Wed, 09 Dec 2020 22:31:54 GMT
- request:
    method: get
    uri: https://api-stg.oyindonesia.com//api/static-virtual-account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Oy-Username:
      - xxx
      X-Api-Key:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"total":15,"data":[{"id":"623c6167-7658-4271-8442-1ebb5b7dddb2","amount":30000.0000,"va_number":"100536000000003116","bank_code":"002","bank_name":"BRI","is_open":true,"is_single_use":true,"expiration_time":-1,"va_status":"WAITING_PAYMENT","username_display":"xxx","amount_detected":0,"partner_user_id":"a8677523-633f-4012-b485-ac96e5c2d6d4","created":1607552961175,"counter_incoming_payment":0,"trx_expiration_time":1607639361000,"trx_counter":0},{"id":"e92b15ed-7d0c-46b1-8424-19e717a34ef1","amount":30000.0000,"va_number":"100536000000003115","bank_code":"002","bank_name":"BRI","is_open":true,"is_single_use":true,"expiration_time":-1,"va_status":"WAITING_PAYMENT","username_display":"xxx","amount_detected":0,"partner_user_id":"f86d562b-5dc9-4273-99f5-c5816a8497f4","created":1607552897602,"counter_incoming_payment":0,"trx_expiration_time":1607639297000,"trx_counter":0},{"id":"5e2c39f5-7d7d-494a-b206-7ed996255cca","amount":30000.0000,"va_number":"100536000000003114","bank_code":"002","bank_name":"BRI","is_open":true,"is_single_use":false,"expiration_time":1607639218000,"va_status":"WAITING_PAYMENT","username_display":"xxx","amount_detected":0,"partner_user_id":"4475bd77-1a93-4872-ba28-0a15084f2e2c","created":1607552818556,"counter_incoming_payment":0,"trx_expiration_time":1607639218000,"partner_trx_id":"84776d0a-b249-4169-81eb-146e64d02b54","trx_counter":0},{"id":"95ce69c3-7865-4b20-8710-0ec33f3967b6","amount":30000.0000,"va_number":"100536000000003113","bank_code":"002","bank_name":"BRI","is_open":true,"is_single_use":false,"expiration_time":1607639182000,"va_status":"WAITING_PAYMENT","username_display":"xxx","amount_detected":0,"partner_user_id":"2a0f57e1-da30-436f-b2b1-c680ddcd9f11","created":1607552782591,"counter_incoming_payment":0,"trx_expiration_time":1607639182000,"partner_trx_id":"b0[...]
