---
http_interactions:
- request:
    method: post
    uri: https://api-stg.oyindonesia.com//api/payment-checkout/create-v2
    body:
      encoding: UTF-8
      string: '{"partner_tx_id":"4fda0fac-24a0-48e2-8cc7-0a1ad7d2d21b","amount":15000,"email":"user@example.com"}'
    headers:
      Content-Type:
      - application/json
      X-Oy-Username:
      - xxx
      X-Api-Key:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"payment_link_id":"45b55331-d7f2-4d48-bb74-5cb4aa9b8eeb","message":"success","email_status":"PROCESSED","url":"https://pay-stg.oyindonesia.com/45b55331-d7f2-4d48-bb74-5cb4aa9b8eeb","status":true}'
  recorded_at: Wed, 09 Dec 2020 21:45:03 GMT
recorded_with: VCR 5.1.0
