---
http_interactions:
- request:
    method: post
    uri: https://api-stg.oyindonesia.com//api/generate-static-va
    body:
      encoding: UTF-8
      string: '{"partner_user_id":"a55c36e7-dc96-45a0-bd8e-e23513c8134b","bank_code":"002","amount":30000,"partner_trx_id":"49fd4841-0fef-4d41-8479-1cfb6d684335"}'
    headers:
      Content-Type:
      - application/json
      X-Oy-Username:
      - xxx
      X-Api-Key:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5f4fba04-9545-4a1c-ac16-1686f93ddb6f","amount":30000,"status":{"code":"000","message":"Success"},"va_number":"100536000000003117","bank_code":"002","is_open":true,"is_single_use":false,"expiration_time":1607639719000,"va_status":"WAITING_PAYMENT","username_display":"xxx","partner_user_id":"a55c36e7-dc96-45a0-bd8e-e23513c8134b","counter_incoming_payment":0,"trx_expiration_time":1607639719000,"partner_trx_id":"49fd4841-0fef-4d41-8479-1cfb6d684335","trx_counter":-1}'
  recorded_at: Wed, 09 Dec 2020 22:35:19 GMT
- request:
    method: get
    uri: https://api-stg.oyindonesia.com//api/va-tx-history/5f4fba04-9545-4a1c-ac16-1686f93ddb6f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Oy-Username:
      - xxx
      X-Api-Key:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5f4fba04-9545-4a1c-ac16-1686f93ddb6f","status":{"code":"000","message":"Success"},"data":[],"number_of_transaction":0,"total_incoming_payment":0}'
  recorded_at: Wed, 09 Dec 2020 22:35:19 GMT
recorded_with: VCR 5.1.0
