---
http_interactions:
- request:
    method: post
    uri: https://api-stg.oyindonesia.com//api/payment-checkout/create-invoice
    body:
      encoding: UTF-8
      string: '{"partner_tx_id":"825a0668-dbd8-4c38-87d0-fa0bbb745567","amount":15000,"email":"user@example.com"}'
    headers:
      Content-Type:
      - application/json
      X-Oy-Username:
      - xxx
      X-Api-Key:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"payment_link_id":"35e66d5d-e9ef-45d4-9df1-5303f2590deb","message":"success","email_status":"PROCESSED","url":"https://pay-stg.oyindonesia.com/invoice/35e66d5d-e9ef-45d4-9df1-5303f2590deb","status":true}'
  recorded_at: Wed, 09 Dec 2020 21:45:10 GMT
- request:
    method: get
    uri: https://api-stg.oyindonesia.com//api/payment-checkout/825a0668-dbd8-4c38-87d0-fa0bbb745567
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Oy-Username:
      - xxx
      X-Api-Key:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"partnerTxId":"825a0668-dbd8-4c38-87d0-fa0bbb745567","paymentLinkId":"35e66d5d-e9ef-45d4-9df1-5303f2590deb","amount":15000,"username":"xxx","senderName":null,"senderPhoneNumber":null,"senderNotes":null,"status":"CREATED","txRefNumber":null,"description":null,"isOpen":true,"step":"input-amount","notes":null,"phoneNumber":null,"email":"user@example.com","includeAdminFee":false,"listDisabledPaymentMethods":null,"listEnabledBanks":"014,002,008,009,013,022,QRIS","expirationTime":"10-12-2020
        21:45:09","invoiceData":{"fullName":null,"isVaLifetime":false,"isScheduled":false,"recurringStartDate":null,"recurringEndDate":null,"recurringFrequency":null,"invoiceItems":null}},"message":"return
        payment checkout data","status":true}'
  recorded_at: Wed, 09 Dec 2020 21:45:10 GMT
recorded_with: VCR 5.1.0
