---
http_interactions:
- request:
    method: post
    uri: https://api-stg.oyindonesia.com//api/scheduled-remit/list
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Oy-Username:
      - xxx
      X-Api-Key:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":{"code":"000","message":"Success"},"start_date":null,"end_date":null,"scheduled_trx_status":null,"total_scheduled_disburse":31,"total_amount":4770000.0000,"offset":0,"limit":100,"data":[{"recipient_bank":"008","recipient_account":"23432423423432434","amount":200000.0000,"scheduled_trx_id":"7da02eb5-d2c9-4bfe-98a9-b2178ab92331","partner_trx_id":"78e53f46-c949-4a2f-9ce2-6e8f1f7fd566","scheduled_trx_status":"SCHEDULED","schedule_date":"12-12-2030","is_trigger_based":false,"trigger_date":null,"trigger_email":null},{"recipient_bank":"008","recipient_account":"23432423423432434","amount":200000.0000,"scheduled_trx_id":"f29fe26a-cad3-4481-a866-359f68226594","partner_trx_id":"9ed3fc48-0282-4ed5-abbd-199297b3279c","scheduled_trx_status":"SCHEDULED","schedule_date":"12-12-2030","is_trigger_based":false,"trigger_date":null,"trigger_email":null},{"recipient_bank":"008","recipient_account":"23432423423432434","amount":200000.0000,"scheduled_trx_id":"7000d43b-5f7d-4830-9e25-ccf491257c84","partner_trx_id":"fc9[...]
