---
http_interactions:
- request:
    method: get
    uri: https://api-stg.oyindonesia.com//api/balance
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Oy-Username:
      - xxx
      X-Api-Key:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":{"code":"000","message":"Success"},"balance":102807500.0000,"overdraftBalance":0,"overbookingBalance":0,"pendingBalance":0.0000,"availableBalance":102807500.0000,"timeStamp":"09-12-2020
        21:45:12"}'
  recorded_at: Wed, 09 Dec 2020 21:45:12 GMT
recorded_with: VCR 5.1.0
