---
http_interactions:
- request:
    method: post
    uri: https://api-stg.oyindonesia.com//api/generate-static-va
    body:
      encoding: UTF-8
      string: '{"partner_user_id":"a8677523-633f-4012-b485-ac96e5c2d6d4","bank_code":"002","amount":30000,"partner_trx_id":"e6a513e1-2091-43b1-9b72-a9748bbe672b"}'
    headers:
      Content-Type:
      - application/json
      X-Oy-Username:
      - xxx
      X-Api-Key:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"623c6167-7658-4271-8442-1ebb5b7dddb2","amount":30000,"status":{"code":"000","message":"Success"},"va_number":"100536000000003116","bank_code":"002","is_open":true,"is_single_use":false,"expiration_time":1607639361000,"va_status":"WAITING_PAYMENT","username_display":"xxx","partner_user_id":"a8677523-633f-4012-b485-ac96e5c2d6d4","counter_incoming_payment":0,"trx_expiration_time":1607639361000,"partner_trx_id":"e6a513e1-2091-43b1-9b72-a9748bbe672b","trx_counter":-1}'
  recorded_at: Wed, 09 Dec 2020 22:29:21 GMT
- request:
    method: put
    uri: https://api-stg.oyindonesia.com//api/static-virtual-account/623c6167-7658-4271-8442-1ebb5b7dddb2
    body:
      encoding: UTF-8
      string: '{"is_single_use":true}'
    headers:
      Content-Type:
      - application/json
      X-Oy-Username:
      - xxx
      X-Api-Key:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"623c6167-7658-4271-8442-1ebb5b7dddb2","amount":30000.0000,"status":{"code":"000","message":"Success"},"va_number":"100536000000003116","bank_code":"002","is_open":true,"is_single_use":true,"expiration_time":-1,"va_status":"WAITING_PAYMENT","username_display":"xxx","partner_user_id":"a8677523-633f-4012-b485-ac96e5c2d6d4","counter_incoming_payment":0,"trx_expiration_time":1607639361000,"trx_counter":1}'
  recorded_at: Wed, 09 Dec 2020 22:29:21 GMT
recorded_with: VCR 5.1.0
