---
http_interactions:
- request:
    method: post
    uri: https://api-stg.oyindonesia.com//api/account-inquiry
    body:
      encoding: UTF-8
      string: '{"bank_code":"008","account_number":"23432423423432434"}'
    headers:
      Content-Type:
      - application/json
      X-Oy-Username:
      - xxx
      X-Api-Key:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":{"code":"000","message":"Success"},"bank_code":"008","account_number":"23432423423432434","account_name":"Cynthia
        Zieme Sr","timestamp":"2020-12-09T21:45:11","id":"9c848fbb-218d-4919-9bb4-e4709fc30d5e","invoice_id":null}'
  recorded_at: Wed, 09 Dec 2020 21:45:11 GMT
recorded_with: VCR 5.1.0
