---
http_interactions:
- request:
    method: post
    uri: https://api-stg.oyindonesia.com//api/scheduled-remit
    body:
      encoding: UTF-8
      string: '{"recipient_bank":"008","recipient_account":"23432423423432434","amount":200000,"partner_trx_id":"78e53f46-c949-4a2f-9ce2-6e8f1f7fd566","schedule_date":"12-12-2030"}'
    headers:
      Content-Type:
      - application/json
      X-Oy-Username:
      - xxx
      X-Api-Key:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":{"code":"103","message":"Request is Scheduled"},"recipient_bank":"008","recipient_account":"23432423423432434","amount":200000,"scheduled_trx_id":"7da02eb5-d2c9-4bfe-98a9-b2178ab92331","partner_trx_id":"78e53f46-c949-4a2f-9ce2-6e8f1f7fd566","scheduled_trx_status":"SCHEDULED","schedule_date":"12-12-2030","is_trigger_based":false,"trigger_date":null,"trigger_email":null,"timestamp":"09-12-2020
        21:45:13"}'
  recorded_at: Wed, 09 Dec 2020 21:45:13 GMT
- request:
    method: get
    uri: https://api-stg.oyindonesia.com//api/scheduled-remit
    body:
      encoding: UTF-8
      string: '{"partner_trx_id":"78e53f46-c949-4a2f-9ce2-6e8f1f7fd566"}'
    headers:
      Content-Type:
      - application/json
      X-Oy-Username:
      - xxx
      X-Api-Key:
      - xxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status":{"code":"000","message":"Success"},"recipient_bank":"008","recipient_account":"23432423423432434","amount":200000.0000,"scheduled_trx_id":"7da02eb5-d2c9-4bfe-98a9-b2178ab92331","partner_trx_id":"78e53f46-c949-4a2f-9ce2-6e8f1f7fd566","scheduled_trx_status":"SCHEDULED","schedule_date":"12-12-2030","is_trigger_based":false,"trigger_date":null,"trigger_email":null,"timestamp":"09-12-2020
        21:45:14"}'
  recorded_at: Wed, 09 Dec 2020 21:45:14 GMT
recorded_with: VCR 5.1.0
